body{
    background-color: rgb(157, 212, 255);
    font: normal 15pt Arial;
}

/*header*/
header{
    color: white;
    text-align: center;
}

/*section*/
section{
    background-color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
}
img{
    width: 250px;
}

/*Footer*/
#pFooter{
    text-align: center;
    font-style: italic;
}
#imgLogoFooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 35px;
}