/*Isso é um comentário no CSS*/
header{
    width: 100%;
    background-color: rgb(122, 81, 24);
    padding: auto;
    margin-bottom: 0%;
    border-radius: 10px;
}

h1, h4, h2{
    color: rgb(233, 233, 233);
    text-align: center; 
}

body{
    
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(55, 41, 41);
    width: 100%;
    margin-right: auto;/*auto = calculado de forma automática, independente do dispositivo usado.*/
    margin-left: auto;
}

#sumario{
    color: rgb(233, 233, 233);
    padding: 4%;
    margin-bottom: 3%;
}

/*Formatação dos links*/
a:link{
    color:aliceblue
}

a:visited{
    color: bisque;
}

a:hover{
    color: antiquewhite;
}

a:active{
    color: bisque;
}

span{
    color:aliceblue
}

main{
    width: 85%;
    margin: auto;
}

section{
    text-align: justify;
    font-size: 12pt;
    padding: 10%;
    margin-bottom: 2%;
    background-color: rgb(158, 149, 126);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}

p{
    text-indent: 3%;
}

.titulolivro{
    font-variant: small-caps;
    text-align: center;
}

img{
    height: 15%;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/*Tabela*/
table{
    margin: auto;
}
th, td{
    border-width: 3px;
    border-style: solid;/*solido*/
    border-color: burlywood;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    padding: 1%;
    background-color: rgb(122, 81, 24);
}

.logos{
    height: 3%;
    width: 3%;
}
#desenvolvido{
    color: aliceblue;
    text-align: center;
}